
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
*{
padding:0;
margin:0;
}
.container{padding:100px 0;}
#no-padding{padding:0 0 !important;}
#no-margin{margin:0 0 !important;}
.loader-container{width:100%; height:100vh; background:#070707;position:fixed;}
.pre  {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;

  }
/* --------------------- Navbar CSS

-------------*/

.navbar{
    height:60px;position:fixed; width:100%;  font-size:20px; border-bottom:2px solid #fff; background:rgba(255, 255, 255, 0.342);}
.fa-bars{color:#000fe0;}
.nav-link {color:#000;}
.container-fluid{padding-left:0; padding-right:0;}

/* --------------------- Banner CSS

-------------*/

.first-fluid{
    background-image:url(../images/banner-home2.jpg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    height:auto;
}
.header{
    padding: 100px 0; 
    text-align: center;
    
}
.header h1 {
    color:#031750; font-family:'Goldman', cursive; font-weight:600; letter-spacing: 1.5; font-size:30px; line-height: 40px;
}
.shape-card{
    background:#1789df; 
    border:5px solid #6dc92e;
     border-radius:50%;
      height:250px; width:250px;
       position:relative;
        margin:5px;
    }
.shape-card p{
    font-size:25px;
    text-align: center; 
    position:absolute; top:50%; 
    left:50%; transform:translate(-50%,-50%); 
    color:#fff; font-weight:400; 
    font-family:'Monoton', cursive; 
    border-radius:50%;
   
    transition: all 0.1s;  
    cursor:pointer;           
}
.shape-card p:hover
{

    color:#9c27b0;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 30px #fff,
                 0 0 40px #f724a2,
                 0 0 70px #f724a2,
                 0 0 80px #f724a2,
                 0 0 100px #f724a2,
                 0 0 150px #f724a2;

}


.skills{position:relative;
        display:flex;
        margin:20px 0;
    padding: 10px;
    background: rgba(17, 47, 216, 0.329);
    border-radius:8px;
    overflow:hidden;
    border:2px solid rgb(17, 0, 248);
    transition: 0.5s;
 }
 .skill-row:hover .skills{
     opacity:0.05;
 }
 .skill-row .skills:hover{
    opacity:1;
    transform:scale(1.1);
}

 .skills:before{
     content:"";
     top:0;
     left:0;
     width:100%;
     height:50%;
     background: rgba(255,255,255,.1);
     z-index: +10;
 }

 .name{
     position:absolute;
     left:10px;
     width:auto;
     color:#fff;
     margin-top:-2px;
     text-transform: capitalize;
 }

 .value{
    position:relative;
    width:80px;
    text-align:right;
    color:#fff;
    margin-top:-2px;
    text-transform: capitalize;
}

.percent{
    position:relative;
    width: calc(100% - 150px);
    height:20px;
    margin:0 10px;
    border-radius:10px;
    background: #3100e4;
    box-shadow: inset 0 0 10px #000;
    overflow:hidden;
}
.skills .percent .progress {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    border-radius:10px;
    box-shadow: inset 0 0 2px #000;
    animation: animate 3s ease-in-out forwards;



}

@keyframes animate{
    from
    {
        width:0%;
    }
}


.skills:nth-child(2) .percent .progress{

background:linear-gradient(45deg, #1fe6ff, #673ab7);

}

.skills:nth-child(3) .percent .progress{

    background:linear-gradient(45deg, #3bc0ff, #33ff00);
    
    }

.skills:nth-child(4) .percent .progress{

     background:linear-gradient(45deg, #ffee54, #ff00ca);
        
 }

 .skills:nth-child(5) .percent .progress{

    background:linear-gradient(45deg, #22ffde, #2196f3);
       
}

/* --------------------- About  CSS 

-------------*/

.second-section{

    background-image:url(../images/section.jpg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    height:auto;
    padding: 100px 0;
}

.section-header{
    padding:20px; 
    text-align:left;
    margin-bottom:20px;
}
.section-header h4{
    color:#1a029e; 
    font-family:'Goldman', cursive;
    font-weight: 500;
    font-size:35px;
    border-bottom:2px solid #2196f3;
    width:max-content;

}
.profile-pic img{
    height:400px;
    width:100%;
}

.description{
    border:1px solid #fff;
    padding: 40px;
    background:rgba(255, 255, 255, 0.315);
    color:#000; font-weight:bold;
}

/* --------------------- Service CSS 

-------------*/
.card-service {
    
  border: 5px solid rgba(255, 255, 255, 0.034);
    width: 100%;
    min-height: 90px;
    cursor: pointer;
    padding: 20px;
    background:rgb(30 74 234 / 46%); 
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;     
  }
  
  .card-service:hover {
    animation: shadow-wave 1s ease infinite;
  }
  
  
  @keyframes shadow-wave {
    0% {
      border: 5px solid var(--primary);
      
    }
    20% {
      border: 5px solid var(--red);
      
    }
    40% {
      border: 5px solid var(--orange);
      
    }
    60% {
      border: 5px solid var(--yellow);
      
    }
    80% {
      border: 5px solid var(--green);
      
    }
    100% {
      border: 5px solid var(--primary);
      
    }
    
  }
  
  
  :root {
    --primary: #22D2A0;
    --secondary: #192824;
    --background: #192824;
    --green: #1FC11B;
    --yellow: #FFD913;
    --orange: #FF9C55;
    --red: #FF5555;
  } 
  
  .card-service p {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight:bold;
    padding:10px;
  }
  
  .card-service h2 {
    font-size: 20px;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    padding:20px;
    background:rgba(184, 181, 181, 0.637);
  }

  /* --------------------- Portfolio CSS
  
  -------------*/
  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    }
    .swiper-pagination-bullet {width:15px; height:15px;}
    .card-body{padding:5px 0;}
    .card-image
    {height:350px; width:100%; overflow:hidden; position:relative; border:4px solid rgba(34, 34, 243, 0.705); 
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .card-img-top{position:absolute; left:0; top:0; transition:all 6s ease-in-out;}
    .card-image:hover .card-img-top {left:0; transform:translateY(-95%);}
    .card{background:none; border:none;}
    .card-title,.card-text {background:rgba(250, 250, 250, 0.226); padding:5px; color:rgb(0, 0, 0);}
    .portfolio-btn{color:rgb(0, 0, 0);background:rgba(250, 250, 250, 0.226);}
    
    /* --------------------- Testimonial CSS
    
    -------------*/
    .testimonial{
      border-right: 4px solid #2A3D7D;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
      padding: 30px 30px 30px 130px;
      margin: 0 15px 30px 15px;
      overflow: hidden;
      position: relative;
  }
  .testimonial:before{
      content: "";
      position: absolute;
      bottom: -4px;
      left: -17px;
      border-top: 25px solid #29D18B;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      transform: rotate(45deg);
  }
  .testimonial:after{
      content: "";
      position: absolute;
      top: -4px;
      left: -17px;
      border-top: 25px solid #29D18B;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      transform: rotate(135deg);
  }
  .testimonial .pic{
      display: inline-block;
      width: 80px;
      height: 90px;
      border-radius: 50%;
      overflow: hidden;
      position: absolute;
      top: 60px;
      left: 20px;
  }
  .testimonial .pic img{
      width: 100%;
      height: auto;
  }
  .testimonial .description{
      font-size: 15px;
      letter-spacing: 1px;
      color: #000000;
      margin-bottom: 15px;
      background:rgb(30 74 234 / 46%);
  }
  .testimonial .title{
      display: inline-block;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #29D18B;
      margin: 0;
  }
  .testimonial .post{
      display: inline-block;
      font-size: 17px;
      color: #29D18B;
      font-style:italic;
  }

  
  @media only screen and (max-width: 767px){
      .testimonial{
          padding: 20px;
          text-align: center;
      }
      .testimonial .pic{
          display: block;
          position: static;
          margin: 0 auto 15px;
      }
  }





/* --------------------- Contact Form CSS

------------------------------------------- */
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

.contact-form {z-index: +1; box-shadow: 10px 10px 20px 20px grey;}



/* --------------------- Footer CSS

------------------------------------------- */

footer{background:#424242; border-top:1px solid rgba(255, 255, 255, 0.377); padding:20px;}
.follow-us,.address, .newsletter{padding:10px 20px; text-align: center; color:#fff;}
.follow-us a {font-size:30px; padding:20px 10px;}
.follow-us,.address, .newsletter p{font-size:18px;}
h6{font-size:25px;}
.input-group{padding:20px 10px;}







@media (max-width: 576px) {
    
    .shape-card{height:200px; width:200px;}
    .card-service{margin-top:10px;}
    .card-image { height:200px;}
    .card-title,.card-text{font-size:13px;}

     




}