@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
*{
padding:0;
margin:0;
}
#no-padding{padding:0 0 !important;}
#no-margin{margin:0 0 !important;}

/* --------------------- Navbar CSS -------------*/

.navbar{
    background-image: linear-gradient(to right, #000002 , #37384a,#000002); color:#ffffff;}
    .fa-bars{color:#ffffff;}

.container-fluid{padding-left:0; padding-right:0;}

/* --------------------- Banner CSS -------------*/

.first-fluid{
    background-image:url(../images/banner-home2.jpg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    height:auto;
}
.header{
    padding:20px; 
    text-align:left;
}
.header h1 {
    color:#1a029e; font-family:'Monoton', cursive; font-weight:600;
}
.shape-card{
    background:#000000; 
    border:5px solid #6dc92e;
     border-radius:50%;
      height:250px; width:250px;
       position:relative;
        margin:5px;
    }
.shape-card p{
    font-size:25px;
    text-align: center; 
    position:absolute; top:50%; 
    left:50%; transform:translate(-50%,-50%); 
    color:#fff; font-weight:400; 
    font-family:'Monoton', cursive; 
    border-radius:50%;
    text-shadow: 0 0 10px #000,
                 0 0 20px #000,
                 0 0 30px #000,
                 0 0 40px #910d46,
                 0 0 70px #910d46,
                 0 0 80px #910d46,
                 0 0 100px #910d46,
                 0 0 150px #910d46;
    transition: all 0.1s;  
    cursor:pointer;           
}
.shape-card p:hover
{

    color:#9c27b0;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 30px #fff,
                 0 0 40px #f724a2,
                 0 0 70px #f724a2,
                 0 0 80px #f724a2,
                 0 0 100px #f724a2,
                 0 0 150px #f724a2;

}

.skill-row{padding-top:150px;}
.skills{position:relative;
        display:flex;
        margin:20px 0;
    padding: 10px;
    background-image: linear-gradient(#616161 0%, #333 10%, #222);
    border-radius:8px;
    overflow:hidden;
    border:2px solid #000;
    transition: 0.5s;
 }
 .skill-row:hover .skills{
     opacity:0.05;
 }
 .skill-row .skills:hover{
    opacity:1;
    transform:scale(1.1);
}

 .skills:before{
     content:"";
     top:0;
     left:0;
     width:100%;
     height:50%;
     background: rgba(255,255,255,.1);
     z-index: +10;
 }

 .name{
     position:absolute;
     left:10px;
     width:auto;
     color:#fff;
     margin-top:-2px;
     text-transform: capitalize;
 }

 .value{
    position:relative;
    width:80px;
    text-align:right;
    color:#fff;
    margin-top:-2px;
    text-transform: capitalize;
}

.percent{
    position:relative;
    width: calc(100% - 150px);
    height:20px;
    margin:0 10px;
    border-radius:10px;
    background: #151515;
    box-shadow: inset 0 0 10px #000;
    overflow:hidden;
}
.skills .percent .progress {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    border-radius:10px;
    box-shadow: inset 0 0 2px #000;
    animation: animate 3s ease-in-out forwards;



}

@keyframes animate{
    from
    {
        width:0%;
    }
}


.skills:nth-child(2) .percent .progress{

background:linear-gradient(45deg, #1fe6ff, #673ab7);

}

.skills:nth-child(3) .percent .progress{

    background:linear-gradient(45deg, #3bc0ff, #33ff00);
    
    }

.skills:nth-child(4) .percent .progress{

     background:linear-gradient(45deg, #ffee54, #ff00ca);
        
 }

 .skills:nth-child(5) .percent .progress{

    background:linear-gradient(45deg, #22ffde, #2196f3);
       
}

/* --------------------- About  CSS -------------*/

.second-section{

    background-image:url(../images/section.jpg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    height:auto;
    padding: 100px 0;
}

.section-header{
    padding:20px; 
    text-align:left;
    margin-bottom:20px;
}
.section-header h4{
    color:#1a029e; 
    font-family:'Goldman', cursive;
    font-weight: 500;
    font-size:35px;
    border-bottom:2px solid #2196f3;
    width:max-content;

}
.profile-pic img{
    height:400px;
    width:100%;
}

.description{
    border:1px solid #fff;
    padding: 40px;
    background:rgba(255, 255, 255, 0.315);
    color:#000; font-weight:bold;
}

/* --------------------- Service CSS -------------*/
.card {
    
    
    width: 100%;
    min-height: 90px;
    cursor: pointer;
    padding: 15px;
    border: 3px solid var(--primary);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
          20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
          30px -30px 0 -3px var(--background), 30px -30px var(--orange),
          40px -40px 0 -3px var(--background), 40px -40px var(--red);
          margin-top:20px;

    background:rgba(184, 181, 181, 0.603);      
  }
  
  .card:hover {
    animation: shadow-wave 1s ease infinite;
  }
  
  
  @keyframes shadow-wave {
    0% {
      border: 3px solid var(--primary);
      box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
        20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
        30px -30px 0 -3px var(--background), 30px -30px var(--orange),
        40px -40px 0 -3px var(--background), 40px -40px var(--red);
    }
    20% {
      border: 3px solid var(--red);
      box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--primary),
        20px -20px 0 -3px var(--background), 20px -20px var(--green),
        30px -30px 0 -3px var(--background), 30px -30px var(--yellow),
        40px -40px 0 -3px var(--background), 40px -40px var(--orange);
    }
    40% {
      border: 3px solid var(--orange);
      box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--red),
        20px -20px 0 -3px var(--background), 20px -20px var(--primary),
        30px -30px 0 -3px var(--background), 30px -30px var(--green),
        40px -40px 0 -3px var(--background), 40px -40px var(--yellow);
    }
    60% {
      border: 3px solid var(--yellow);
      box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--orange),
        20px -20px 0 -3px var(--background), 20px -20px var(--red),
        30px -30px 0 -3px var(--background), 30px -30px var(--primary),
        40px -40px 0 -3px var(--background), 40px -40px var(--green);
    }
    80% {
      border: 3px solid var(--green);
      box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--yellow),
        20px -20px 0 -3px var(--background), 20px -20px var(--orange),
        30px -30px 0 -3px var(--background), 30px -30px var(--red),
        40px -40px 0 -3px var(--background), 40px -40px var(--primary);
    }
    100% {
      border: 3px solid var(--primary);
      box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
        20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
        30px -30px 0 -3px var(--background), 30px -30px var(--orange),
        40px -40px 0 -3px var(--background), 40px -40px var(--red);
    }
    
  }
  
  
  :root {
    --primary: #22D2A0;
    --secondary: #192824;
    --background: #192824;
    --green: #1FC11B;
    --yellow: #FFD913;
    --orange: #FF9C55;
    --red: #FF5555;
  } 
  
  .card p {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight:bold;
    padding:20px;
  }
  
  .card h2 {
    font-size: 20px;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    padding:20px;
    background:rgba(184, 181, 181, 0.637);
  }
