{% extends 'base.html' %}

{%load static %}


{% block content%}

<section>
    <div class="container-fluid first-fluid">
        <div class="container" id="no-padding">
            <div class="row">


               <div class="col-md-6 shape-col"> <!-- Main Colum Start-->
               <div class="header"><h1>Hello; This is Rayhan Arafat...</h1><br><span calss="head-footer">I am a</span></div>
               
               <div class="shape"> <!-- Shape Start-->
               <div class="row justify-content-around"> <!-- Internal Row Start-->
               
               <div class="shape-card">
               <p> WEB DESIGNER</p>
               </div>
               

              
               <div class="shape-card">
               <p> WORDPRESS DEVELOPER </p>
               </div>
              
               </div><!-- Internal Row End-->
               <div class="row justify-content-center"> <!--Second Internal Row Start -->
               
               <div class="shape-card">
               <p> DJANGO DEVELOPER</p>
               </div>
               
               </div><!--Second Internal Row End -->
               </div><!-- Shape End-->
               </div><!-- Main Column End-->

               <div class="col-md-6 "> <!-- Second Main Column Start -->
               <div class="header"><h1>My Skills Meter</h1></div>
                         <div class="skill-row">
                            <div class="skills">
                            <span class="name">HTML</span>

                            <div class="percent">
                            <div class="progress" style="width:95%;"></div>
                            </div>
                            <span class="value">95%</span>
                            </div>

                                <div class="skills">
                            <span class="name">CSS</span>

                            <div class="percent">
                            <div class="progress" style="width:90%;"></div>
                            </div>
                            <span class="value">90%</span>
                            </div>

                            <div class="skills">
                            <span class="name">JavaScript</span>

                            <div class="percent">
                            <div class="progress" style="width:60%;"></div>
                            </div>
                            <span class="value">60%</span>
                            </div>


                            <div class="skills">
                            <span class="name">Wordpress</span>

                            <div class="percent">
                            <div class="progress" style="width:80%;"></div>
                            </div>
                            <span class="value">80%</span>
                            </div>


                            <div class="skills">
                            <span class="name">Django</span>

                            <div class="percent">
                            <div class="progress" style="width:70%;"></div>
                            </div>
                            <span class="value">70%</span>
                            </div>
                        </div>
               </div>  <!-- Second Main Column End -->


            </div>
        </div>
    </div>

</section>

{% endblock %}