{% extends 'base.html' %}

{%load static %}


{% block content%}

<section>
    <div class="container-fluid first-fluid">
    <div class="header"><h1>Hello; This is Rayhan Arafat...</h1></div>
        <div class="container" id="no-padding">
            <div class="row">


               <div class="col-md-6 shape-col"> <!-- Main Colum Start-->
               
               
               <div class="shape"> <!-- Shape Start-->
               <div class="row justify-content-around"> <!-- Internal Row Start-->
               
               <div class="shape-card">
               <p> WEB DESIGNER</p>
               </div>
               

              
               <div class="shape-card">
               <p> WORDPRESS DEVELOPER </p>
               </div>
              
               </div><!-- Internal Row End-->
               <div class="row justify-content-center"> <!--Second Internal Row Start -->
               
               <div class="shape-card">
               <p> DJANGO DEVELOPER</p>
               </div>
               
               </div><!--Second Internal Row End -->
               </div><!-- Shape End-->
               </div><!-- Main Column End-->

               <div class="col-md-6 "> <!-- Second Main Column Start -->
               <div class="sub-header"><h1>My Skills Meter</h1></div>
                         <div class="skill-row">
                            <div class="skills">
                            <span class="name"><i class="fab fa-html5"></i> &nbsp; HTML</span>

                            <div class="percent">
                            <div class="progress" style="width:95%;"></div>
                            </div>
                            <span class="value">95%</span>
                            </div>

                                <div class="skills">
                            <span class="name"><i class="fab fa-css3-alt"></i> &nbsp;CSS</span>

                            <div class="percent">
                            <div class="progress" style="width:90%;"></div>
                            </div>
                            <span class="value">90%</span>
                            </div>

                            <div class="skills">
                            <span class="name"><i class="fab fa-js-square"></i> &nbsp;JAVASCRIPT</span>

                            <div class="percent">
                            <div class="progress" style="width:60%;"></div>
                            </div>
                            <span class="value">60%</span>
                            </div>


                            <div class="skills">
                            <span class="name"><i class="fab fa-wordpress"></i>&nbsp; WORDPRESS</span>

                            <div class="percent">
                            <div class="progress" style="width:80%;"></div>
                            </div>
                            <span class="value">80%</span>
                            </div>


                            <div class="skills">
                            <span class="name"><i class="fab fa-python"></i>&nbsp;DJANGO</span>

                            <div class="percent">
                            <div class="progress" style="width:70%;"></div>
                            </div>
                            <span class="value">70%</span>
                            </div>
                        </div>
               </div>  <!-- Second Main Column End -->


            </div>
        </div>
    </div>

</section>


<section class="second-section">

<div class="container-fluid">
<div class="container">
<div class="section-header"><h4>About Me &nbsp; <i class="fas fa-info-circle"></i></h4></div>
<div class="row">
<div class="col-md-8">
    <div class="about-me">
    
    <p class="description">
   My name is Rayhan Arafat Nibir. I am a Website Designer and Developer. I love to build websites and have creative ideas on how to grow a business using a website. If you have any Projects or if you want to build any website for your business contact me. I will make it as soon as possible. If you will face any difficulty to accept my products, I will change until your satisfactory result.
    </p>
   </div>
</div>
   <div class='col-md-4'>
  
    <div class="profile-pic">
    <img src="{% static 'images/profile.png' %}">
    </div>
   </div>
</div>
</div>
<!---            First Container End             -->

<div class="container">
    <div class="section-header"><h4>Services</h4></div>

    <div class="row">
        <div class="col-md-4">
            <div class="card-service">
                

                <h2>
               <i class="fas fa-laptop-code"></i> &nbsp;Website Template Design
                </h2>

                <p>
                    All type of scratch to html is included like img to html, XD to HTML Etc.
                </p>
            </div>

        </div>


        <div class="col-md-4">

                <div class="card-service">
                        
                        <h2>
                           <i class="fas fa-code"></i>&nbsp; Website Development
                        </h2>
                        <p>
                            Any kind of Template can convert into fully Functional Website. 
                        </p>
                </div>
        </div>

       <div class="col-md-4">

                <div class="card-service">
                       
                        <h2>
                           <i class="fab fa-wordpress"></i>&nbsp; Wordpress Development
                        </h2>
                        <p>
                            Any kind of WordPress website, Theme Customization & Development.
                        </p>
                </div>
        </div>



    </div>


</div>

<!--------------  Second Container End             -->





<!--------------  Third Container start             -->


<div class="container">

<div class="section-header"><h4>Portfolio</h4></div>

<div class="swiper-container">
    <div class="swiper-wrapper">


        <div class="swiper-slide">

            <div class="card">
            <div class="card-image">
            <img class="card-img-top" src="{% static 'images/meta.png'%}" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>


        
        </div>











           <div class="swiper-slide">

            <div class="card">
            <div class="card-image">
            <img class="card-img-top" src="{% static 'images/sharalipi-org.png'%}" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>


        
        </div>

    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>

</div>

<!--------------  Third Container End             -->








</div> <!--- Container Fluid End -->
</section>





{% endblock %}