{% extends 'base.html' %}

{%load static %}


{% block content%}

<section>
    <div class="container-fluid first-fluid">
        <div class="header">

                    <h1>Hello, This is Rayha Arafat, Welcome to My Portfolio <br> And I am a
                        <span
                            class="txt-rotate"
                            data-period="2000"
                            data-rotate='[ "Web Designer.", "Wordpress Developer.", "Web Developer." ]'></span>
                    </h1>
        </div>

        <div class="container" id="no-padding">
            <div class="row">


               <div class="col-md-6 shape-col"> <!-- Main Colum Start-->
               
               
               <div class="shape"> <!-- Shape Start-->
               <div class="row justify-content-around"> <!-- Internal Row Start-->
               
               <div class="shape-card">
               <p> WEB DESIGNER</p>
               </div>
               

              
               <div class="shape-card">
               <p> WORDPRESS DEVELOPER </p>
               </div>
              
               </div><!-- Internal Row End-->
               <div class="row justify-content-center"> <!--Second Internal Row Start -->
               
               <div class="shape-card">
               <p> DJANGO DEVELOPER</p>
               </div>
               
               </div><!--Second Internal Row End -->
               </div><!-- Shape End-->
               </div><!-- Main Column End-->

               <div class="col-md-6 "> <!-- Second Main Column Start -->
               <div class="sub-header"><h1>My Skills Meter</h1></div>
                         <div class="skill-row">
                            <div class="skills">
                            <span class="name"><i class="fab fa-html5"></i> &nbsp; HTML</span>

                            <div class="percent">
                            <div class="progress" style="width:95%;"></div>
                            </div>
                            <span class="value">95%</span>
                            </div>

                                <div class="skills">
                            <span class="name"><i class="fab fa-css3-alt"></i> &nbsp;CSS</span>

                            <div class="percent">
                            <div class="progress" style="width:90%;"></div>
                            </div>
                            <span class="value">90%</span>
                            </div>

                            <div class="skills">
                            <span class="name"><i class="fab fa-js-square"></i> &nbsp;JAVASCRIPT</span>

                            <div class="percent">
                            <div class="progress" style="width:60%;"></div>
                            </div>
                            <span class="value">60%</span>
                            </div>


                            <div class="skills">
                            <span class="name"><i class="fab fa-wordpress"></i>&nbsp; WORDPRESS</span>

                            <div class="percent">
                            <div class="progress" style="width:80%;"></div>
                            </div>
                            <span class="value">80%</span>
                            </div>


                            <div class="skills">
                            <span class="name"><i class="fab fa-python"></i>&nbsp;DJANGO</span>

                            <div class="percent">
                            <div class="progress" style="width:70%;"></div>
                            </div>
                            <span class="value">70%</span>
                            </div>
                        </div>
               </div>  <!-- Second Main Column End -->


            </div>
        </div>
    </div>

</section>


<section class="second-section">

<div class="container-fluid">
<div class="container">
<div class="section-header"><h4>About Me &nbsp; <i class="fas fa-info-circle"></i></h4></div>
<div class="row">
<div class="col-md-8">
    <div class="about-me">
    
    <p class="description">
   My name is Rayhan Arafat Nibir. I am a Website Designer and Developer. I love to build websites and have creative ideas on how to grow a business using a website. If you have any Projects or if you want to build any website for your business contact me. I will make it as soon as possible. If you will face any difficulty to accept my products, I will change until your satisfactory result.
    </p>
   </div>
</div>
   <div class='col-md-4'>
  
 <!---   <div class="profile-pic">
    <img src="{% static 'images/profile.png' %}"> 
    </div>-->
   </div>
</div>
</div>
<!---            First Container End             -->

<div class="container">
    <div class="section-header"><h4>Services</h4></div>

    <div class="row">
        <div class="col-md-4">
            <div class="card-service">
                

                <h2>
               <i class="fas fa-laptop-code"></i> &nbsp;Website Design
                </h2>

                <p>
                    All type of scratch to html is included like img to html, XD to HTML Etc.
                </p>
            </div>

        </div>


        <div class="col-md-4">

                <div class="card-service">
                        
                        <h2>
                           <i class="fas fa-code"></i>&nbsp; Website Development
                        </h2>
                        <p>
                            Any kind of Template can convert into fully Functional Website. 
                        </p>
                </div>
        </div>

       <div class="col-md-4">

                <div class="card-service">
                       
                        <h2>
                           <i class="fab fa-wordpress"></i>&nbsp; Wordpress Development
                        </h2>
                        <p>
                            Any kind of WordPress website, Theme Customization & Development.
                        </p>
                </div>
        </div>



    </div>


</div>

<!--------------  Second Container End             -->





<!--------------  Third Container start             -->


<div class="container">

<div class="section-header"><h4>Portfolio</h4></div>

<div class="swiper-container">
    <div class="swiper-wrapper">

       {% if portfolio%}
          {% for i in portfolio%}
            <div class="swiper-slide">

                <div class="card">
                <div class="card-image">
                <img class="card-img-top"src="{{ i.website_pic.url }}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-tv"></i>&nbsp; {{ i.name}}</h5>
                    <p class="card-text">{{ i.category}}</p>
                    <a href="{{ i.website_url}}" class="btn portfolio-btn btn-block" target="blank"><i class="fas fa-link"></i>&nbsp;Visit Now</a>
                </div>
                </div>


            
            </div>
            {% endfor %}
        {%endif%}


        
        </div>

    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>

</div>

<!-- Third Container End  -->


<!-- Fourth Container Start  -->

<div class="container">
    <div class="section-header"><h4>Client Review</h4></div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
    
        
        <div class="carousel-item active">


            <div class="testimonial">
                            <div class="pic">
                                <img src="{{review.0.client_pic.url}}">
                            </div>
                            <p class="description">
                                {{review.0.description}}
                            </p>
                            <h3 class="title">{{review.0.name}}</h3>
                            <small class="post">- {{review.0.post}}</small>
            </div>

        </div>
        

    {% for i in review|slice:"1:" %}
        <div class="carousel-item">


            <div class="testimonial">
                            <div class="pic">
                                <img src="{{i.client_pic.url}}">
                            </div>
                            <p class="description">
                                {{i.description}}
                            </p>
                            <h3 class="title">{{i.name}}</h3>
                            <small class="post">- {{i.post}}</small>
            </div>

        </div>
    {%endfor%}
  
</div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</div>

<!-- Fourth Container End  -->

<!-- Fifth Container Start -->
<div class="container contact-form">
<div class="section-header"><h4>Contact</h4></div>
            <div class="contact-image">
                <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
            </div>
            <form method="post">
                
               <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                        </div>
                    </div>
                </div>
            </form>
</div>

<!-- Fifth Container End -->




</div> <!--- Container Fluid End -->
</section>


{% endblock %}